[Unit]
Description=Premises Web App
After=network.target postgresql.service

[Service]
Type=simple
User=root
WorkingDirectory=/srv/premises-web/.next/standalone
ExecStart=/usr/bin/node /srv/premises-web/.next/standalone/server.js
Environment=NODE_ENV=production
Environment=DATABASE_URL=postgresql://premises:premises_dev_password@localhost:5432/premises_db?schema=public
Environment=HOSTNAME=0.0.0.0
Environment=NEXTAUTH_URL=http://100.117.183.50:3000
Environment=NEXTAUTH_SECRET=0IZdNzY1dx5stJIssk+Vbqdol5TBZeWCX2kSfE92uOA=
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal
SyslogIdentifier=premises-web

[Install]
WantedBy=multi-user.target
